<footer class="by-5" style="background: linear-gradient(45deg, black, transparent)">
    <div class="footer-container">
        <div class="left-col">
            <img src="/img/logo.png" style="width: 200px;">
            <div class="logo"></div>
            <div class="social-media">
                <a href="https://www.facebook.com/breachcurlll" class="footer_social_media_icon p-3"><i class="fab fa-facebook-f" style="color: #fff;"></i></a>
                <a href="https://instagram.com/breachcurl?igshid=YmMyMTA2M2Y=" class="footer_social_media_icon p-3"><i class="fab fa-instagram" style="color: #fff;"></i></a>
                   
                <a href="https://www.linkedin.com/company/breachcurl/" class="footer_social_media_icon p-3"><i class="fab fa-linkedin-in" style="color: #fff;"></i></a>

                <a href="#" class="footer_social_media_icon p-3"><i class="fab fa-twitter" style="color: #fff;"></i></a>                                    
                            
            </div><br><br><br>
            <p class="rights-text">Copyright © 2023 <br>Created By BreachCurl Team All Rights Reserved.</p>
            <br><p><img src="/img/location.png"> Dwarka, Delhi </p><br>
            <p><img src="/img/phone.png"> +91 7770916091<br><img src="/img/mail.png">&nbsp; breachcurl@gmail.com</p>
        </div>
        <div class="right-col">
            <h1 style="color: #fff">Our Newsletter</h1>
            <div class="border"></div><br>
            <p>Enter Your Email to get our News and updates.</p>
            <form class="newsletter-form" action="/subscribe" method="post" enctype="multipart/form-data">
                <input class="txtb" name="subs" type="email" placeholder="Enter Your Email">
                <button class=" btn" type ="submit">Submit</button>
                <!-- <input class="btn" type="submit" value="Submit"> -->
            </form>
        </div>
    </div>
</footer>
</body>
</html>