<%-include('../header.ejs') %>
<section class="dashboard-area mobile-hide p-5">
    <div class="dashboard-content-wrap ">       
        <div class="dashboard-main-content ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="form-box ">                           
                            <div class="form-content ">
                                <div class="table-form table-responsive ">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col " style="width:20% ">Course Name</th>
                                                <th scope="col ">Mode</th>
                                                <th scope="col ">Duration</th>
                                                <th scope="col ">Time</th>                                           
                                                <th scope="col " style="width:15% ">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Web designing</td>
                                            <td>Live Online Training / Classroom Training </td>
                                            <td>2 Months</td>
                                            <td>Week Days Batch With 90 Days Real-Time Lab Access</td>                             
                                            <td><a href="arcsight-training-in-india.html "><button class="theme-btn theme-btn-small btn btn-danger">Learn More
                                                </button></a>                                       
                                            </td>
                                        </tr>									   
									    <tr>
                                            <td>Cyber Security</td>
                                            <td>Live Online Training / Classroom Training </td>
                                            <td>2.5 Months</td>
                                            <td>Week Days Batch With 75 Days Real-Time Lab Access</td>
                                            <td><a href="soc-analyst-training-in-india.html "><button class="theme-btn theme-btn-small btn btn-danger">Learn 
                                                More</button></a>
                                            </td>
                                        </tr>
									    <tr>
                                            <td>Digital Marketing</td>
                                            <td>Live Online Training / Classroom Training </td>
                                            <td>2.5 Months</td>
                                            <td>Week days Batch With 75 Days Real-Time Lab Access</td>
                                            <td><a href="soc-analyst-training-in-india.html "><button class="theme-btn theme-btn-small btn btn-danger">Learn 
                                                More</button></a>
                                            </td>
                                        </tr>
            							<tr>
                                            <td>Core Java</td>
                                            <td>Live Online Training / Classroom Training </td>
                                            <td>1.5 Month</td>
                                            <td>Week days Batch With Real-Time Lab Access</td>
                                            <td><a href="splunk-administrator-training-in-india.html "><button class="theme-btn theme-btn-small btn btn-danger">
                                                Learn More</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Python Training</td>
                                            <td>Live Online Training / Classroom Training </td>
                                            <td>2 Months</td>
                                            <td>Week Days Batch Real-Time Lab Access</td>
                                            <td><a href="splunk-admin-enterprisesecurity-training.html"><button class="theme-btn theme-btn-small btn btn-danger">    Learn More</button></a>
                                            </td>
                                        </tr> 
                                    </table>
                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->              
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->


<!-- Some Popular Subjects -->
	<!-- <div class="title">
		<span>Popular Subjects on LearnEd</span>
	</div>
	<br><br>
	<div class="course">
		<center><div class="cbox">
		<div class="det"><a href="subjects/jee.html"><img src="images/courses/book.png">JEE Preparation</a></div>
		<div class="det"><a href="subjects/gate.html"><img src="images/courses/d1.png">GATE Preparation</a></div>
		<div class="det"><a href="subjects/jee.html#sample_papers"><img src="images/courses/paper.png">Sample Papers</a></div>
		<div class="det"><a href="subjects/quiz.html"><img src="images/courses/d1.png">Daily Quiz</a></div>
		</div></center>
		<div class="cbox">
		<div class="det"><a href="subjects/computer_courses.html"><img src="images/courses/computer.png">Computer Courses</a></div>
		<div class="det"><a href="subjects/computer_courses.html#data"><img src="images/courses/data.png">Data Structures</a></div>
		<div class="det"><a href="subjects/computer_courses.html#algo"><img src="images/courses/algo.png">Algorithm</a></div>
		<div class="det det-last"><a href="subjects/computer_courses.html#projects"><img src="images/courses/projects.png">New Courses</a></div>
		</div>
	</div>
 -->


<!-- PORTFOLIO -->
	<div class="diffSection" id="portfolio_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">About-Us</p></center>
		<div class="content">
			<p>
				“ Due to ongoing recession, freshers find it very strenuous to find a job. Freshers struggle to get Industry experience which is extremely crucial for the growth of their careers.
				Here at BreachCurls , We aim to provide quality training and industry worthy internship experience along with real time projects to freshers and job seekers in order to become industry ready with right skill set.
				BreachCurl is a start-up founded by Sohail Khan Suri. The founder wants to make it possible for every struggling individual to get their dream job. BreachCurls is perfect platform for gaining realtime industry experience. We offer a wide variety of IT and non IT courses like Digital Marketing, Programming in Python, Programming in JAVA, Cyber Security, Web Development, SQL etc.
				small changes from the beginning of your career can create a big impact on living a happier, more fulfilling, more successful professional life. ”
			</p>
		</div>
	</div><br><br>
	<div class="extra">
		<p>We're increasing this data every year</p>
		<div class="smbox">
		<span><center><div class="data">154</div><div class="det">Enrolled Students</div></center></span>
		<span><center><div class="data">62</div><div class="det">Total Courses</div></center></span>
		<span><center><div class="data">56</div><div class="det">Placed Students</div></center></span>
		<span><center><div class="data">27</div><div class="det">Total Projects</div></center></span>
		</div>
	</div>


<!-- TEAM -->
	<div class="diffSection" id="team_section">
		<center><p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">We're the Creators</p></center>
		<div class="totalcard">
			<div class="card">
				<center><img src="/img/gautam.jpg"></center>
				<center><div class="card-title">Gautam Rana</div>
				<div id="detail">
					<p>“ I have been an enthusiastic software engineer with leading skills in JAVA and I have worked with both web-based, multi-threaded applications as well as front-end development using the latest web technologies. “</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/gautamrana08" target="_blank"><button class="btn-raj">Follow +</button></a>
				</div>
				</center>
			</div>
			<div class="card">
				<center><img src="/img/Raj.jpg"></center>
				<center><div class="card-title">Rajveer Baghel</div>
				<div id="detail">
					<p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/rajveer-baghel-53b196236 " target="_blank"><button class="btn-raj2">Follow +</button></a>
				</div>
				</center>
			</div>
			<div class="card">
				<center><img src="/img/sohail.jpg"></center>
				<center><div class="card-title">Sohail Khan Suri</div>
				<div id="detail">
					<p>“ I am a CEH Certified Ethical Hacker with cross domain skills who loves Web Penetration Testing/Network Pentesting and Digital Marketing. Having expertise in security domain with hands-on knowledge in Cybersecurity tools & Networking. “</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/sohailkhansuri" target="_blank"><button class="btn-raj">Follow +</button></a>
				</div>
				</center>
			</div>
			<div class="card">
				<center><img src="/img/Chetan.jpg"></center>
				<center><div class="card-title">Chitranshu kankar</div>
				<div id="detail">
					<p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
					<div class="duty"></div>
					<a href="https://www.linkedin.com/in/chitranshu-kankar-15a286128" target="_blank"><button class="btn-raj2">Follow +</button></a>
				</div>
				</center>
			</div>
		</div>
	</div>


<!-- SERVICES -->
	<div class="service-swipe">
		<div class="diffSection" id="services_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Services</p></center>
		</div>
		<a href="subjects/computer_courses.html"><div class="s-card"><img src="/img/computer-courses.png"><p>Free Online Computer Courses</p></div></a>
		<a href="subjects/jee.html"><div class="s-card"><img src="/img/brainbooster.png"><p>Building Concepts for Competitive Exams</p></div></a>
		<a href="#"><div class="s-card"><img src="/img/online-tutorials.png"><p>Online Video Lectures</p></div></a>
		<a href="subjects/jee.html#sample_papers"><div class="s-card"><img src="/img/papers.jpg"><p>Sample Papers of Various Competitive Exams</p></div></a>
		<a href="#"><div class="s-card"><img src="/img/p3.png"><p>Performance and Ranking Report</p></div></a>
		<a href="#contactus_section"><div class="s-card"><img src="/img/discussion.png"><p>Discussion with Our Tutors & Mentors</p></div></a>
		<a href="/quiz"><div class="s-card"><img src="/img/q1.png"><p>Daily Brain Teasing Questions to Improve IQ</p></div></a>
		<a href="#contactus_section"><div class="s-card"><img src="/img/help.png"><p>24x7 Online Support</p></div></a>
	</div>

<!-- Reviews by Students -->
<div id="makeitfull">
	<a href="#review_section"><img src="/img/makeitfull.png"></a>
</div>
<div class="review">
	<div class="diffSection" id="review_section">
		<center><p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">What the Students Say About Us?</p></center>
	</div>
	<div class="rev-container">
		<div class="rev-card">
			<div class="identity">
				<img src="/img/humanNotExist1.jpg"><p>Sophie Daniel</p>
				<h6>Java</h6>
				<div class="rating"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					I did Java Fundamenetal course with Rishab Sir. It was a great experience. The brain teasers and assignments, actually the whole lot of content was really good. Some problems were challenging yet interesting. Was explained very well where ever I stuck...
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="/img/humanNotExist2.jpg"><p>Clayton Clair</p>
				<h6>C/C++</h6>
				<div class="rating"><img src="/img/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					When I was watching "Dear Zindagi", I could relate Sharukh Khan to Arnav Bhaiya. The way Sharukh Khan was giving life lessons to Alia Bhatt, in the same way Arnav Bhaiya will give coding life lessons which will guide you throughout your code life...
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="/img/humanNotExist3.jpg"><p>Devyn Sethi</p>
				<h6>JEE</h6>
				<div class="rating"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					BreachCurl was an amazing experience for me. I belong to electronics department and had a little experience in coding but I think it has helped me think things through in a much more analytical manner. Coding is important no matter which branch you are in. It gives you a better understanding about how to approach a problem...
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="/img/humanNotExist4.jpg"><p>Rylee Phillips</p>
				<h6>Python</h6>
				<div class="rating"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"><img src="/img/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					This was my first complete course at coding blocks. I attended the Python course in Winter 2020 and loved it which made me join the full course. Shubham bhaiya and Ayush Bhaiya(TA) have good knowledge about the field and were very helpful in making us understand the concepts. I would certainly recommend this to anyone...
				</p>
			</div>
		</div>
	</div>
</div>

<!-- CONTACT US -->
	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
			<form action="/contact" method="post" enctype="multipart/ form-data">
				<label>First Name <span class="imp">*</span></label><label style="margin-left: 185px">Last Name <span class="imp">*</span></label><br>
				<center>
				<input type="text" name="fname" style="margin-right: 5px; width: 150px" required="required" placeholder="First Name">
				<input type="text" name="lname" style="width: 150px"  placeholder="Last Name"><br>
				</center>
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="mail" style="width: 100%"  placeholder="Enter Your Email"><br>
				<label>Message <span class="imp">*</span></label><br>
				<input type="text" name="mess" style="width: 100%"  placeholder="Enter Message"><br>
				<label>Additional Details</label><br>
				<textarea name="more" placeholder="More "></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
			</div>
		</div>
	</div>


<!-- FEEDBACK -->
	<div class="title2" id="feedBACK">
			<span style="margin-left: 13px;">Give Feedback</span>
		<div class="shortdesc2">
			<p>Please share your valuable feedback to us</p>
		</div>
	</div>

	<div class="feedbox">
		<div class="feed">
			<form action="/feedback" method="post" enctype="multipart/form-data">
				<label>Your Name</label><br>
				<input type="text" name="name" required="required" placeholder="Enter  Name"><br>
				<label>Email</label><br>
				<input type="email" name="mail" required="required" placeholder="Enter  Your  Email" class="fa fa-envelope"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional" placeholder="message"></textarea><br><br>
				<button type="submit" >Send Message</button>
			</form>
		</div>
	</div>

<!-- Sliding Information -->
	<marquee style="background: linear-gradient(to right, #FA4B37, #DF2771); margin-top: 50px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10"><div class="marqu">“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” “Your attitude, not your aptitude, will determine your altitude.” “If you think education is expensive, try ignorance.” “The only person who is educated is the one who has learned how to learn …and change.”</div></marquee>
<%-include('../footer.ejs') %>